*{
    margin: 0%;
    padding: 0%;
}

main{
    background-image: url('./data/images/background_image.jpg');
    background-size:100%;
    background-position: center;
}

body{
    color: white;
}

.single-result-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}