*{
    margin: 0%;
    padding: 0%;
}

.content-div{
    border-bottom-color: rgb(210, 161, 61);
    border-bottom-style: dotted;
    border-bottom-width: 5px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}